// Body

.body {
  height: 100vh;
  margin: 0;
  background-color: $lightest;

  &[data-fixed] {
    overflow-y: hidden;

    &::before {
      @include z-index('body--fixed');
      position: fixed;
      width: 100%;
      height: 100%;
      content: '';
    }
  }
}
