// Button

$icon-button-dimension: 40px;
$large-icon-button-dimension: 24px;

%button {
  @include font-size(16);
  font-family: $font-family;
  color: $lightest;
  border: 0;
}

%button--primary {
  @extend %button;
  @include font-size(16);
  padding: 8px 16px;
}

%button--icon {
  @extend %button;
  @include z-index('img__button');
  right: 8px;
  width: $icon-button-dimension;
  height: $icon-button-dimension;
  text-indent: -9999px;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 50%;
    width: 100%;
  }
}

%button--icon--close {
  @include font-size(16);

  @include media-query('large') {
    width: $large-icon-button-dimension;
    height: $large-icon-button-dimension;
  }

  position: absolute;
  top: 8px;
  font-family: $font-family;
  background-color: transparent;

  &::after,
  &::before {
    left: 0;
    height: 4px;
    content: '';
  }

  &::after {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: rotate(-45deg);
  }

  &::before {
    transform: rotate(45deg);
  }
}
