// Dialog

$dialog-padding-top: 24px;

$dialog-form-min-height: 88px;

$dialog-checkbox-dimensions: 16px;
$dialog-checkbox-position: ($dialog-checkbox-dimensions / 2);
$dialog-checkbox-arrow-dimensions: ($dialog-checkbox-dimensions / 4);

%dialog__checkbox--checked {

  &:checked {

    + .dialog__label {

      &::after {
        border-color: $darkest;
      }
    }
  }

  &:focus,
  &:hover {

    + .dialog__label {

      &::before {
        background-color: $medium;
      }
    }
  }
}

.dialog {
  @include z-index('dialog');
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 640px;
  max-height: calc(100% - #{($dialog-padding-top * 2)});
  padding: $dialog-padding-top 32px;
  overflow-y: hidden;
  background-color: $lightest;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.dialog__container {
  max-height: 66vh;
  padding-bottom: ($dialog-form-min-height + $dialog-padding-top);
  overflow-y: scroll;
  border-top: 1px solid $medium;
  box-sizing: border-box;
}

.dialog__form {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  min-height: $dialog-form-min-height;
  padding-top: $dialog-padding-top;
  padding-bottom: $dialog-padding-top;
  margin-right: 32px;
  margin-left: 32px;
  background-color: $lightest;
  border-top: 1px solid $medium;
  box-sizing: border-box;
}

.dialog__fieldset {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  margin-left: auto;
  border: 0;
}

.dialog__checkbox {
  @extend %dialog__checkbox--checked;
  position: relative;
  top: -9999px;
  left: -9999px;
}

.dialog__label {

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    content: '';
  }

  &::before {
    left: 0;
    width: $dialog-checkbox-dimensions;
    height: $dialog-checkbox-dimensions;
    background-color: $light;
    transform: translateY(-50%);
  }

  &::after {
    left: $dialog-checkbox-position;
    width: $dialog-checkbox-position;
    height: $dialog-checkbox-arrow-dimensions;
    border-bottom: $dialog-checkbox-arrow-dimensions solid transparent;
    border-left: $dialog-checkbox-arrow-dimensions solid transparent;
    transform: rotate(-45deg) translateY(-100%);
  }
}

.dialog__button {
  @include font-size(16);
  padding: 8px 16px;
  margin-left: 16px;
  font-family: $font-family;
  color: $lightest;
  cursor: not-allowed;
  border: 0;

  &:not(:disabled) {
    cursor: pointer;
    background-color: $primary;
  }
}

.dialog__button--icon {
  @extend %button--icon;

  &::after,
  &::before {
    background-color: $darkest;
  }
}
