// Dialog

$dialog-checkbox-dimensions: 16px;
$dialog-checkbox-arrow-dimensions: ($dialog-checkbox-dimensions / 4);
$dialog-form-min-height: 88px;

@mixin dialog__checkbox--checked {

  &:checked {

    + .dialog__label {

      &::after {
        border-color: $darkest;
      }
    }
  }

  &:focus,
  &:hover {

    + .dialog__label {

      &::before {
        background-color: $medium;
      }
    }
  }
}

.dialog {
  @include z-index('dialog');
  position: fixed;
  top: 0;
  left: 50%;
  width: 90%;
  height: 90%;
  max-width: 640px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 24px;
  background-color: $lightest;
  border: 0;
  transform: translateX(-50%);
  box-sizing: border-box;
}

.dialog__container,
.dialog__form {
  margin-right: 32px;
  margin-left: 32px;
}

.dialog__container {
  height: 100%;
  padding-bottom: $dialog-form-min-height;
  overflow-y: scroll;
  box-sizing: border-box;
}

.dialog__form {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  min-height: $dialog-form-min-height;
  padding-top: inherit;
  padding-bottom: inherit;
  background-color: inherit;
  box-sizing: border-box;
}

.dialog__fieldset {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: 0;
}

.dialog__checkbox {
  @include dialog__checkbox--checked;
  visibility: hidden;
}

.dialog__label {

  &::before,
  &::after {
    position: absolute;
    content: '';
  }

  &::before {
    top: 50%;
    left: 0;
    width: $dialog-checkbox-dimensions;
    height: $dialog-checkbox-dimensions;
    background-color: $light;
    transform: translateY(-50%);
  }

  &::after {
    top: 0;
    left: ($dialog-checkbox-dimensions / 8);
    width: ($dialog-checkbox-dimensions / 2);
    height: $dialog-checkbox-arrow-dimensions;
    border-bottom: $dialog-checkbox-arrow-dimensions solid transparent;
    border-left: $dialog-checkbox-arrow-dimensions solid transparent;
    transform: rotate(-45deg) translate(-75%, 125%);
  }
}

.dialog__button {
  @include font-size(16);
  padding: 8px 16px;
  margin-left: auto;
  font-family: $font-family;
  color: $lightest;
  cursor: not-allowed;
  border: 0;

  &:not(:disabled) {
    cursor: pointer;
    background-color: $primary;
  }
}
