// Dialog

$dialog-padding-top: 24px;

$dialog-form-min-height: 88px;

$dialog-checkbox-check-dimensions: ($input-dimensions / 4);

%dialog__checkbox--checked {

  &:checked {

    + .dialog__label {

      &::after {
        border-color: $primary;
      }
    }
  }
}

.dialog {
  @include z-index('dialog');
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 640px;
  max-height: calc(100% - #{($dialog-padding-top * 2)});
  padding: $dialog-padding-top 32px;
  overflow-y: hidden;
  background-color: $light;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.dialog__section {

  &[data-id='0'] {

    .dialog__form {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      min-height: $dialog-form-min-height;
      padding-top: $dialog-padding-top;
      padding-bottom: $dialog-padding-top;
      margin-right: 32px;
      margin-left: 32px;
      background-color: $light;
      border-top: 1px solid $dark;
      box-sizing: border-box;
    }

    .dialog__button {
      margin-left: 16px;
    }
  }

  &[data-id='2'] {

    .dialog__form {
      flex-wrap: wrap;
    }

    .dialog__button {
      margin-left: auto;
    }
  }
}

.dialog__container {
  max-height: 66vh;
  padding-bottom: ($dialog-form-min-height + $dialog-padding-top);
  overflow-y: scroll;
  border-top: 1px solid $dark;
  box-sizing: border-box;
}

.dialog__form {
  display: flex;

  &:invalid {

    .dialog__button {
      cursor: not-allowed;
      background-color: $dark;
    }
  }

  &:valid {

    .dialog__button {
      cursor: pointer;
      background-color: $primary;
    }
  }
}

.dialog__fieldset {
  position: relative;
  padding-right: 0;
  padding-left: 0;
  margin-left: auto;
  border: 0;
}

.dialog__checkbox {
  @extend %dialog__checkbox--checked;
  @extend %input;
  position: relative;
  top: -9999px;
  left: -9999px;
}

.dialog__label {
  @extend %input__label;

  &::after,
  &::before {
    top: 50%;
  }

  &::after {
    position: absolute;
    left: $input-position;
    width: $input-position;
    height: $dialog-checkbox-check-dimensions;
    border-bottom: $dialog-checkbox-check-dimensions solid transparent;
    border-left: $dialog-checkbox-check-dimensions solid transparent;
    content: '';
    transform: rotate(-45deg) translateY(-100%);
  }

  &::before {
    left: 0;
    transform: translateY(-50%);
  }
}

.dialog__button {
  @extend %button--primary;
}

.dialog__button--icon {
  @extend %button--icon;
  @extend %button--icon--close;

  &::after,
  &::before {
    background-color: $darkest;
  }
}
