// Images list

$image-margin: 8px;

.ul--images {
  position: relative;
  display: inline-block;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow: auto;
  list-style: none;
}

.images__li {
  float: left;
  width: calc(25% - #{$image-margin});
  height: 240px;
  margin-right: $image-margin;
  margin-bottom: $image-margin;
}

.images__a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: $medium;

  &::before {
    position: absolute;
    width: inherit;
    height: inherit;
    content: '';
    transition: .1s box-shadow;
  }

  &:hover {

    &::before {
      box-shadow: inset 0 0 ($image-margin * 4) ($image-margin / 2) $darkest;
    }
  }

  &:focus {
    outline: 0;

    &::before {
      box-shadow: inset 0 0 0 $image-margin $primary;
    }
  }

  &[data-transition] {
    position: initial;

    .images__img {
      @include z-index('images__img');
      position: absolute;
      transform: scale(1);
      transition: .3s;
      transform-origin: top left;
    }
  }
}

.images__img {
  width: inherit;
  height: inherit;
}
