// Images list

$image-dimension: 160px;
$image-margin: 4px;

.ul--images {
  display: flex;
  height: 100%;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  flex-wrap: wrap;
}

.images__img {
  width: $image-dimension;
  height: $image-dimension;
  margin-right: $image-margin;
  margin-bottom: $image-margin;

  &:last-of-type {
    margin-right: 0;
  }
}

.img__a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: $medium;

  &::before {
    position: absolute;
    width: inherit;
    height: inherit;
    content: '';
  }

  &:not([data-active]) {

    &:hover {

      &::before {
        box-shadow: inset 0 0 ($image-margin * 4) ($image-margin / 2) $darkest;
      }
    }

    &:focus {
      outline: 0;

      &::before {
        box-shadow: inset 0 0 0 $image-margin $primary;
      }
    }
  }

  &[data-active] {
    cursor: default;

    .img {
      @include z-index('img');
      position: fixed;
      top: 50%;
      left: 50%;
      transform-origin: top left;
    }

    .img__button {
      opacity: 1;
      visibility: visible;
    }
  }

  &[data-active='0'],
  &[data-active='1'],
  &[data-active='2'] {

    .img {
      transform: scale(1) translate3d(-50%, -50%, 0);
    }
  }

  &[data-squash-and-stretch] {

    .img {
      transform: scale(.5);
      transform-origin: center;
    }
  }
}

.img {
  width: inherit;
  height: inherit;
}

.img__button {
  @extend %button--icon;
  @extend %button--icon--close;
  position: fixed;
  opacity: 0;
  visibility: hidden;


  &::after,
  &::before {
    background-color: $lightest;
  }
}

.main__button--icon {
  @extend %button--icon;
  @include z-index('main__button--icon');
  position: fixed;
  bottom: 8px;
  background-color: $primary;
  box-shadow: 0 0 4px 0 $dark;

  &::before {
    left: 50%;
    text-indent: initial;
    content: '?';
    transform: app/scss(-50%, -50%);
  }
}
